[Unit]
Description=Elasticsearch Service
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User=elasticsearch
ExecStart={{install_path}}/{{unarchive_folder_name}}/bin/elasticsearch -d
LimitNOFILE=65536
KillMode=control-group

[Install]
WantedBy=multi-user.target
