rs.initiate(
  {
    _id: "rs_{{ SHARD_NAME }}",
    members: [    
    {% for host in groups[SHARD_NAME] %}
      { _id : {{ loop.index0 }}, host : "{{ host }}:{{ MONGO_SHARD_PORT }}" },
    {% endfor %}
    ]
  }
)